#main {
  background: #eee;
}
#img-div {
  background: #fff;
  padding: 10px;
  margin: 0;
}
#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
#img-caption {
  margin: 15px 0 5px 0;
}
